# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# -------------------
# VIM
#--------------------
*.swp

# ------------------
# Other
# ------------------
*.exe
*.zip
*.csv
*.txt
batchcsv/other/*
